html{
	margin:0;
	padding:0;
	border:0;
}

body {
	text-align:center;
	margin:0;
	padding:0;
	border:0;
	background-image:url(../img/cloth.png);
}

#title {
	font-family: 'Gloria Hallelujah', cursive;
	padding-bottom:5px;
}

.header {
	background-color:black;
	color:white;
	margin-bottom:20px;
}



.container-fluid {
	padding:15px 0px 15px 0px;
}

.card {
	padding-bottom: 5px;
}

.addComedian{
	margin-bottom:15px;
}

.newButton{
	float:left;
	padding:10px;
	margin:5px;
	width:338px;
}

.card-title{
	margin-top:10px;
}